* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #f7fc13;
}

.App {
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 64px;
  font-weight: 800;
}

.form_input {
  width: 823px;
  height: 46px;

  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.form_input > input {
  padding: 10px;
  width: 595px;
  height: 100%;
  border-radius: 10px;
  border: none;
  font-size: inherit;
  font-weight: 700;
  outline: none;
  border: 3px solid #2196f3;
}

.del_button {
  background-color: #f36d21;
}

.form_input > button {
  background-color: #2196f3;
}

.form_input > button,
.task_bar > button {
  height: 3rem;
  width: 150px;
  border-radius: 10px;
  color: #fcfbfb;
  font-size: inherit;
  font-weight: 700;
  border: none;
}

.task_bar {
  background-color: #fcfbfb;
  padding: 10px;
  width: 823px;
  height: 70px;
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  justify-items: self-start;
  align-items: center;
  border: 3px solid black;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.expand {
  height: 140px;
}

.task_bar p {
  width: 80%;
  color: black;
  font-weight: 800;
  pointer-events: none;
  cursor: pointer;
}

.form_input > input:focus {
  border: 3px solid black;
}

.tasks_area {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Icon {
  margin: 10px;
}
